#oki-listview {
    width: 1fr;
}

#oki-richlog {
    width: 1fr;
    height:1fr
}


/* #log{
    height:1fr;
    height: auto;
    overflow_y:auto;
} */
#horizontal_pb {
    /* color:pink; */
    height:auto;
}


#oki-status-bar{
    height: 1fr;
}
#app-horizontal {
    height: 4fr;
}
#bar{
    /* color: aquamarine; */
    width: auto;
    /* border: solid red; */
}

#oki-pb{
    /* width: 100%; */
    /* border: solid red;  */
}
#oki-pb-pb{
    width: 100%;
    /* border: solid blue;  */
}
ProgressBar{
    layout:grid;
    grid-size:3;
    grid-columns:80% 6% 14%
}
OKIListItem{
    height: 1;
}